*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.kotlin/
*.log
*.hprof

# Firebase
.firebase/
*-debug.log

# Node / web
node_modules/
web/out/
web/dist/
